*.o
*.a
*.so
.vscode
.idea
zappy_server
zappy_ai
vgcore.*
serv_ref
webserver/views/node_modules/
webserver/node_modules/
refs
sfml/CMakeCache.txt
sfml/CMakeFiles/
sfml/Makefile
sfml/cmake_install.cmake
sfml/zappy_graphic
unit_tests
utils.gcda
utils.gcno
tests/Coverage
tests/html
*.gcda
*.gcno
*.gcov
