html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

canvas {
	width: 100%;
	height: 100%;
	touch-action: none;
}

@keyframes pop-bottom {
	from {
		bottom: -200px;
	  opacity: 0.1;
	}
	to {
		bottom: 0;
	  opacity: 1;
	}
}

.controller-box {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 20%;
	color: white;
	border: solid rgba(52, 152, 219, 0.9) 1px;
	border-radius: 3px;
	margin: 30px;
	animation-name: pop-bottom;
	animation-duration: 3s;
	animation-timing-function: ease;
}

.tchat-box {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	width: 30%;
	color: white;
	border: solid rgba(52, 152, 219, 0.9) 1px;
	background: rgba(52, 152, 219, 0.5);
	border-radius: 3px;
	margin: 30px;
	animation-name: pop-bottom;
	animation-duration: 3s;
	animation-timing-function: ease;
}

.tchat-list {
	max-height: 400px;
	overflow-y: auto;
}

.tchat-group-input {
	position: relative;
	bottom: 0px;
	padding: 5px;
	/* border: solid rgba(30, 100, 160, 0.9) 1px; */
	background: rgba(30, 100, 160, 1);
}

.tchat-input {
	width: 60%;
}

.tchat-button {
	width: 30%
}

.info-box {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	width: 10%;
	color: white;
}

.tile-items {
	padding: 0;
	width: 100%;
}

ul {

	list-style: none;
}

.item {
	width: 100%;
	text-shadow: 0px 0px 20px black;
	transition: border-bottom 0.2s;
}

.item span {
	display: inline-block;
	width: 50%;
}

.item span:nth-child(2) {
	text-align: right;
}

.item:hover {
	border-bottom: 3px solid white;
}

.fade-out {
	opacity: 0;
	transition: opacity 1s linear;
}

.fade-out-second-last {
	opacity: 0.3;
	transition: opacity 2s linear;
}
