html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

canvas {
	width: 100%;
	height: 100%;
	touch-action: none;
}

@keyframes pop-bottom {
	from {
		bottom: -200px;
	  opacity: 0.1;
	}
	to {
		bottom: 0;
	  opacity: 1;
	}
}

.controller-box {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 30%;
	color: white;
	border: solid rgba(52, 152, 219, 0.9) 1px;
	background: rgba(52, 152, 219, 0.5);
	border-radius: 3px;
	margin: 30px;
	animation-name: pop-bottom;
	animation-duration: 3s;
	animation-timing-function: ease;
}

.player-box {
	position: absolute;
	bottom: 20%;
	left: 0;
	width: 25%;
	height: 60%;
	padding: 10px;
	margin: 30px;
	border: solid rgba(52, 152, 219, 0.9) 1px;
	background: rgba(52, 152, 219, 0.5);
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.item-inv {
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	color: white;
}

.item-img {
	width: 32px;
}

.tchat-box {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	width: 30%;
	color: white;
	border: solid rgba(52, 152, 219, 0.9) 1px;
	background: rgba(52, 152, 219, 0.5);
	border-radius: 3px;
	margin: 30px;
	animation-name: pop-bottom;
	animation-duration: 3s;
	animation-timing-function: ease;
}

.tchat-list {
	max-height: 400px;
	overflow-y: auto;
}

.tchat-group-input {
	position: relative;
	bottom: 0px;
	padding: 5px;
}

.tchat-input {
	width: 80%;
}

.tchat-button {
}

.info-box {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	width: 15%;
	color: white;
}

.tile-items {
	padding: 0;
	width: 100%;
}

ul {

	list-style: none;
}

.select-large {
	width: 50%;
}

.item {
	width: 100%;
	text-shadow: 0px 0px 20px black;
	transition: border-bottom 0.2s;
}

.item span:nth-child(1){
	display: inline-block;
	width: 90%;
}

.item span:nth-child(2) {
	display: inline-block;
	width: 10%;
	text-align: right;
}

.item:hover {
	border-bottom: 3px solid white;
}

.fade-out {
	opacity: 0;
	transition: opacity 1s linear;
}

.fade-out-second-last {
	opacity: 0.3;
	transition: opacity 2s linear;
}

.waiter {
	float: right;
}
