<!DOCTYPE html>
<html>
	<head>
		<title>Zappy</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<canvas>Your browser can't support canvas technology.</canvas>

		<section class="controller-box">
			<form id="login">
				<input type="text" name="teamName" placeholder="Team Name" />
				<button type="button" id="play">Play</button>
			</form>
			<div class="ui" id="ui">
				<button id="turn-left">Turn Left</button>
				<button id="forward">Forward</button>
				<button id="turn-right">Turn Right</button>
				<button id="grab">Grab Item</button>
				<button id="drop">Drop Item</button>
				<div id="playerInfos">	
				</div>
			</div>
		</section>
		<section class="info-box" id="datas">
			<div id="tileInfos">
				<ul>
					<li><span>Food:</span><span>0</span></li>
					<li><span>Linemate:</span><span>0</span></li>
					<li><span>Deraumere:</span><span>0</span></li>
					<li><span>Sibur:</span><span>0</span></li>
					<li><span>Mendiane:</span><span>0</span></li>
					<li><span>Phiras:</span><span>0</span></li>
					<li><span>Thystame:</span><span>0</span></li>
				</ul>
			</div>
		</section>
		<section class="tchat-box">
			<ul>
				<li>message 2</li>
				<li>message 3</li>
			</ul>
			<form class="tchat-group-input" id="tchat-input">
				<input class="tchat-input" type="text" name="tchat" placeholder="Type your message" />
				<button class="tchat-button" type="button" id="send">Send</button>
			</form>
		</section>
		<script src="node_modules/babylonjs/babylon.js"></script>
		<script src="node_modules/babylonjs-loaders/babylonjs.loaders.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="build/build.js"></script>
	</body>
</html>
