<!DOCTYPE html>
<html>
	<head>
		<title>Zappy</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/form.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<canvas>Your browser can't support canvas technology.</canvas>
		<script src="node_modules/babylonjs/babylon.js"></script>
		<script src="node_modules/babylonjs-loaders/babylonjs.loaders.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="build/build.js"></script>
	</body>
</html>